#serverlist {
    padding-bottom: 2em;
}

.destroy {
    display: none;
    cursor: pointer;
    float: right;
    margin-top: 0.2em;
}

#list {
    list-style: none outside none;
}

#list li {
    font-size: 1.6em;
    padding: 0.4em 0.6em 0.4em 0.2em;
    border-bottom: 1px solid #DDD;
}

#list li:last-child {
    border-bottom: none;
}

#list li:hover .destroy {
    display: block;
}

#list li .edit {
    display: none;
}

#list li.editing .edit {
    display: block;
    margin: 0;
}

#list li.editing .view {
    display: none;
}

#clear-list {
    float: right;
    display: block;
    margin-bottom: 0.4em;
}

