<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Server list management tool</title>
        <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/index.css" />
    </head>
    <body>
        <div class="container" role="main">
            <div id="serverlist" class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <div class="page-header">
                        <h1>Server list</h1>
                    </div>
                    <form class="form-inline" role="form">
                        <input id="new-addr" class="form-control" type="text" placeholder="Server address">
                        <input id="new-port" class="form-control" type="text" placeholder="Port">
                        <div class="checkbox">
                            <label>
                                <input id="new-ssl" type="checkbox"> SSL
                            </label>
                        </div>
                        <button id="btn-add" type="button" class="btn btn-default">Add</button>
                    </form>
                </div>

                <div id="list-sect" class="col-xs-12 col-md-4 col-md-offset-4">
                    <ul id="list"></ul>
                </div>

                <div id="footer" class="col-xs-12 col-md-4 col-md-offset-4">
                    <div id="list-length"></div>
                </div>
            </div>

            <div id="hint" class="well">
                Feel free to edit by double-clicking an entry.
            </div>
        </div>

        <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/underscore-min.js"></script>
        <script type="text/javascript" src="/static/js/backbone-min.js"></script>
        <script type="text/javascript" src="/static/js/app.js"></script>

        <!-- Server view template -->
        <script type="text/template" id="server-template"> 
            <form class="form-inline" role="form">
                <span class="view"> 
                    <div class="form-group">
                        <label class="addr"><%- addr %></label>
                    </div>
                    <div class="form-group">
                        <label class="port"><%- port %></label>
                    </div>
                </span>
                <div class="form-group">
                    <input type="text" class="edit edit-addr" value="<%- addr %>" />
                </div>
                <div class="form-group">
                    <input type="text" class="edit edit-port" value="<%- port %>" />
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" <%= ssl ? 'checked="checked"' : '' %> />SSL</label>
                </div>
                <a class="destroy"><span class="glyphicon glyphicon-trash"></span></a>
            </form>
        </script>

        <!-- Footer template -->
        <script type="text/template" id="footer-template">
            <div id="list-length">
                <%= count %> <%= count == 1 ? 'server' : 'servers' %> at all
            </div>
        </script>
    </body>
</html>
